A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: black	
	}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 30pt; text-align: center; color: black;}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt; color: black; text-align: center;}

.abut{
	margin-top: 80px;
	color: green;
}

P {width: 95%;text-align: center;margin: auto;font-size: 10pt; font-family: monospace}

a .nav{
	font-size: 35pt;
	color: black;
	margin: 5px;
}
a{
	text-decoration: none;
	color: black;
}

.first-p{
	margin-top: 70px;
}

#Active{
	color: green;
}
#Active:hover{
	color: black;
}

a:hover{
	color: green;
}


Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	margin-left: auto;
	margin-top: 20px;
	margin-right: auto;
	background-color: green;
	border-color: darkgreen}

.r-name{
	color: black;
	text-align: center;
}

Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}



@media screen and (max-width: 950px){

	H2 {font-size: 28pt;}

	.sub-t{
		font-size: 16pt;
	}

	.nav{
		margin: 10px;
		font-size: 30pt;
	}

	Form {
		width: 100%;
		height: 400px;
		font-family: monospace; 
		text-align: center; 
		color: white; 
		background-color: green}

	.form-name{
		font-size: 14pt;
	}

	.r-name{
		font-size: 19pt;
	}
	.review{
		font-size: 19pt;
	}

	.titles{
		font-size: 40pt;
	}
}

@media screen and (max-width: 740px){

	.nav{
		display: block;
		margin: 10px;
	}

	img{
		width: 500px;
		height: 250px;
	}

	.titles{
		font-size: 26pt;
	}



}

@media screen and (max-width: 544px){

	.nav{
		display: block;
	}

	img{
		width: 100%;
		height: 300px;
	}

	.input-bar{
		width: 100%;
	}
	Table{
		width: 100%;
	}
	
}

@media screen and (max-width: 390px){

	.nav{
		display: block;
	}

	a.nav, .titles{
		font-size: 22pt;
	}

	img{
		width: 100%;
		height: 300px;
	}

	.input-bar{
		width: 100%;
	}
	
}