
A:link {color: gray}
A:visited, A:active {color: green}
A:hover {text-decoration: overline; color: teal}
	
Body {
	background-color: white;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: right}
H2 {font-size: 30pt; text-align: center; color: black;}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

a .nav{
	font-size: 35pt;
	color: black;
	margin: 5px;
}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}

.r-name{
	color: black;
	text-align: center;
}

Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}



@media screen and (max-width: 950px){

	H2 {font-size: 28pt;}

	.sub-t{
		font-size: 16pt;
	}

	.nav{
		margin: 10px;
		font-size: 30pt;
	}

	Form {
		width: 100%;
		height: 400px;
		font-family: monospace; 
		text-align: center; 
		color: white; 
		background-color: green}

	.form-name{
		font-size: 14pt;
	}

	.r-name{
		font-size: 19pt;
	}
	.review{
		font-size: 19pt;
	}

}

@media screen and (max-width: 740px){

	.nav{
		display: block;
		margin: 10px;
	}

	img{
		width: 500px;
		height: 250px;
	}

}

@media screen and (max-width: 544px){

	.nav{
		display: block;
	}

	img{
		width: 100%;
		height: 300px;
	}

}